@model IEnumerable<JurassicBark.DATA.EF.UserDetail>
@using JurassicBark.UI.MVC.Models.Extensions;

@{
    ViewBag.Title = "Your Account Details";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
}//End for ADMIN view
else
{
    foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@User.Identity.GetFirstName() @User.Identity.GetLastName()</h5>
                <h6 class="card-subtitle mb-2 text-muted">User Account Details</h6>
                <p class="card-text">
                    @Html.DisplayNameFor(model => model.Address):
                    <address>
                        @Html.DisplayFor(modelItem => item.Address)<br />
                        @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State) @Html.DisplayFor(modelItem => item.ZipCode) <br />
                        @Html.DisplayFor(modelItem => item.Phone) <br />
                    </address>
                    <address>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </address>
                </p>
                <a href="@Url.Action("Index","Reservations")" class="card-link">My Reservations</a>
                <a href="@Url.Action("Index","Pets")" class="card-link">My Pets</a>
            </div>
        </div>
        <div class="btn-spaced">
            @Html.ActionLink("Edit My Details", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    }//end foreach for user view

}@*End section for USER actions.*@