@model IEnumerable<JurassicBark.DATA.EF.EmployeeNote>

@{
    ViewBag.Title = "All of Your Notes";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Employee"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary"})
    </p>
}


<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.PetPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.Name)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tbody><tr>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteDate)
        </td>
        <td>
            <img class="img-responsive" src="~/Content/images/pets/t_@Html.DisplayFor(modelItem => item.Pet.PetPhoto)" alt="Image for @Html.DisplayFor(modelItem => item.Pet.Name)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoteID }, htmlAttributes: new { @class = "btn btn-primary"})
        </td>
    </tr></tbody>
}

</table>
