@model JurassicBark.DATA.EF.Pet

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title for @Html.DisplayFor(model => model.Name)</h2>

<div class="card col-md-3">
    <img class="card-img-top" src="~/Content/images/pet/@Html.DisplayFor(model => model.PetPhoto)" alt="Image for @Html.DisplayFor(model => model.Name)" />
    <div class="card-body">
        <h3 class="card-title">
            @Html.DisplayFor(model => model.Name)
        </h3>
        <p class="card-text">
            @Html.DisplayNameFor(model => model.SpecialNotes): @Html.DisplayFor(model => model.SpecialNotes)
        </p>
        @if (User.IsInRole("Admin"))
        {
            <p class="card-text">
            @Html.DisplayNameFor(model => model.IsActive) &emsp;@Html.DisplayFor(model => model.IsActive)
            </p>

        }
        
        <p class="card-text">
            @Html.DisplayNameFor(model => model.DateAdded): @Html.DisplayFor(model => model.DateAdded)
        </p>
        <p class="card-text">
            Owner Contact Information: @Html.DisplayFor(model => model.AspNetUser.Email)
            Owner Name: @Html.DisplayFor(model => model.AspNetUser.FName.TrimEnd()) @Html.DisplayFor(model => model.AspNetUser.LName.TrimEnd())
        </p>
        <div class="btn-group">
            @if (User.IsInRole("Admin") || User.IsInRole("Customer"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.PetID }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete","Delete", new { id = Model.PetID}, htmlAttributes: new { @class = "btn btn-outline-primary"})
            }
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>

</div>

